<!-- Navbar -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.jpg' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!--left corner navbar-->
            <ul class="navbar-nav">
                {% if not user.is_superuser %}
                <li
                    {% if 'listings' in request.path %}
                        class= "nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                        {% endif %}
                >
                <a class="nav-link" href="{% url 'listings' %}">Product Lists</a>
                </li>
                {% else %}
                <li
                {% if 'listings' in request.path %}
                    class= "nav-item active mr-3"
                {% else %}
                    class="nav-item mr-3"
                    {% endif %}
            >
            <a class="nav-link" href="{% url 'listings' %}">Product Lists</a>
            </li>
                <li
                    {% if 'listings' in request.path %}
                        class= "nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                        {% endif %}
                >
                <a class="nav-link" href="{% url 'add' %}">Add Product</a>
                </li>
                {% endif %}
            </ul>

            <!--right corner navbar-->

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li
                    {% if 'dashboard' in request.path %}
                        class= "nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                >
                <a class="nav-link" href="{% url 'orders_list' %}">
                        Your Orders </a>
                </li>
                <li class="nav-item mr-3">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>logout
                        </a>
                </li>
                {% else %}
                    <li
                        {% if 'register' in request.path %}
                            class= "nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                {% endif %}
                    >
                    <a class="nav-link" href="{% url 'register'%}">
                        <i class="fas fa-user-plus"></i> Register</a>
                    </li>

                    <li
                        {% if 'login' in request.path %}
                            class= "nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}

                    >
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i>Login</a>
                    </li>

            </ul>
        </div>
    </div>
</nav>

 